<form method=post action=/events>
	<div>
		<label for=e-name>Name:</label>
		<input name=name type=text id=e-name>
	</div>
	<div>
		<label for=e-start>Start:</label>
		<input name=start type=date id=e-start>
	</div>
	<div>
		<label for=e-end>End:</label>
		<input name=end type=date id=e-end>
	</div>
	<div>
		<button type=submit>Create event</button>
	</div>
</form>
