<h2>Events</h2>
<a href=/events/add>Add event</a>
<ul>
{{#events}}
<li><a href=/events/{{id}}>{{name}}</a>
	<span>{{friendly-when}}</span>
	<a href=/events/{{id}}>{{seats-left}}</a>
{{/events}}
</ul>
