<fieldset class="event-seats__legend">
	<legend>{{#l10n}}events, SEAT LEGEND TITLE{{/l10n}}</legend>
	<span class="
			event-seats__row__seat
			event-seats__legend__seat
			event-seats__row__seat--facing-0
		">{{#l10n}}events, SEAT LEGEND UNOCCUPIED{{/l10n}}</span>
	<span class="
			event-seats__row__seat
			event-seats__legend__seat
			event-seats__row__seat--facing-0
			event-seats__row__seat--occupied
		">{{#l10n}}events, SEAT LEGEND OCCUPIED{{/l10n}}</span>
</fieldset>
