<a href=/signup>{{#l10n}}menu, USER SIGNUP{{/l10n}}</a>

<form action=/login method=post>
	<div>
		<label for=in-username>{{#l10n}}user, LBL FORM USERNAME{{/l10n}}</label>
		<input name=username id=in-username type=text>
	</div>
	<div>
		<label for=in-password>{{#l10n}}user, LBL FORM PASSWORD{{/l10n}}</label>
		<input name=password id=in-password type=password>
	</div>
	<button type=submit>{{#l10n}}user, BTN LOGIN{{/l10n}}</button>
</form>
