.venue {
	border: 1px solid black;
	text-align: center;
}

.venue__bar {
	border: 4px solid grey;
	width: 300px;
	height: 150px;
	line-height: 150px;
	margin: 0 0 100px 0;
}
.venue__scene {
	border: 4px solid grey;
	width: 300px;
	height: 150px;
	line-height: 150px;
	margin: 100px auto 0;
}

.event-seats {}

.table-group {
	display: inline-block;
	width: 150px;
	margin: 5px;
}

.seat {
	display: inline-block;
	vertical-align: top;
}

.interactable .seat {
	cursor: pointer;
}

.seat__table {
	font-size: .8em;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 2px solid black;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.seat__table--bot {
	border-top: 0;
}
.seat--left .seat__table {
	border-right: 0;
}
.seat--right .seat__table {
	border-left: 2px dashed black;
}

.seat__table__lbl {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	hyphens: auto;
}

.seat__chair {
	border: 2px solid black;
	border-radius: 2px;
	margin: 2px auto;
	width: 20px;
	height: 20px;
}

.seat--occupied .seat__table {
	background: red;
}

.seat--selected .seat__table {
	background: blue;
}

.interactable .seat--occupied:hover .seat__table {
	background: #f60;
}
