<!doctype html>
<title>VP Lan{{#title}}- {{title}}{{/title}}</title>
{{#minify}}/css/styles.css{{/minify}}
<script src=http://modernizr.com/downloads/modernizr-latest.js></script>

<nav class="menu">
	{{#is-logged-in}}<a class="menu__link {{#is-profile}}menu__link--current{{/is-profile}}" href=/user>{{#l10n}}menu, PROFILE{{/l10n}}</a>{{/is-logged-in}}
	<a class="menu__link {{#is-main}}menu__link--current{{/is-main}}" href=/>{{#l10n}}menu, MAIN{{/l10n}}</a>
	<a class="menu__link {{#is-events}}menu__link--current{{/is-events}}" href=/events/1>{{#l10n}}menu, EVENT SIGNUP{{/l10n}}</a>
	<img class="logo" src=/gfx/logo.jpg alt="Logo">
	<a class="menu__link {{#is-info}}menu__link--current{{/is-info}}" href=/info>{{#l10n}}menu, INFO{{/l10n}}</a>
	<a class="menu__link {{#is-games}}menu__link--current{{/is-games}}" href=/games>{{#l10n}}menu, GAMES{{/l10n}}</a>
	<a class="menu__link" href=http://www.facebook.com/groups/377764815646255>{{#l10n}}menu, FACEBOOK{{/l10n}}</a>
	{{#is-logged-in}}<a class="menu__link" href=/logout>{{#l10n}}menu, LOGOUT{{/l10n}}</a>{{/is-logged-in}}

	{{#is-admin}}
	<div class="menu__admin">
		<a class="menu__link" href=/users>{{#l10n}}menu, USERS{{/l10n}}</a>
		<a class="menu__link" href=/static-pages>{{#l10n}}menu, ADMIN EDIT STATIC PAGES{{/l10n}}</a>
		<a class="menu__link" href=/admin/games>{{#l10n}}menu, ADMIN EDIT GAMES{{/l10n}}</a>
	</div>
	{{/is-admin}}
</nav>

{{#message}}
<div class="msg msg--status-{{status}}">{{message}}</div>
{{/message}}

{{{body}}}

<script>
var VP = { user: {{{user-json}}} }
</script>
{{#minify}}
/js/ender.js
/js/seats.js
/js/events.js
/js/static-pages.js
/js/games.js
/js/index.js
{{/minify}}
