<!doctype html>
<title>VP Lan{{#title}}- {{title}}{{/title}}</title>

<header class="layout-header">
	<img src=gfx/logo.jpg alt="Logo">
</header>

<nav class="layout-menu">
	<a href="/">{{#l10n}}layout, main{{/l10n}}</a>
	<a href="/events">{{#l10n}}layout, signup{{/l10n}}</a>
	<a href="/info">{{#l10n}}layout, info{{/l10n}}</a>
	<a href="/info">{{#l10n}}layout, facebook{{/l10n}}</a>
</nav>

{{{body}}}
