<!doctype html>
<title>VP Lan{{#title}}- {{title}}{{/title}}</title>
<meta name="viewport" content="width=900">
{{#minify}}
/css/styles.css
/js/modernizr.custom.33479.js
{{/minify}}
<!--[if lt IE 9]>
<body><h2>Din browser er for gammel</h2>
<p>Jeg er ked af at måtte indrømme det, men din browser blev erstattet for
2 år siden, og det er ikke fair at holde internettet tilbage pga gammel
software.</p>
<p>For at se denne side, skal du opgradere til en moderne browser:</p>
<ul>
<li><a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">Internet Explorer</a>
<li><a href="http://google.com/chrome">Google Chrome</a>
<li><a href="http://opera.com">Opera</a>
<li><a href="http://getfirefox.com">Firefox</a>
</ul>
</body>
<![endif]-->
<!--[if gte IE 9]><!-->
<body lang=en>
<header>
	<a href=/><img class="logo" src=/gfx/logo.jpg alt="Logo"></a>
</header>

<nav class="menu">
	<a class="menu__link {{#is-main}}menu__link--current{{/is-main}}" href=/>{{#static-menu-text}}main{{/static-menu-text}}</a>
	<a class="menu__link {{#is-events}}menu__link--current{{/is-events}}" href=/event>{{#static-menu-text}}event{{/static-menu-text}}</a>
	<a class="menu__link {{#is-info}}menu__link--current{{/is-info}}" href=/info>{{#static-menu-text}}info{{/static-menu-text}}</a>
	<a class="menu__link {{#is-games}}menu__link--current{{/is-games}}" href=/games>{{#static-menu-text}}games{{/static-menu-text}}</a>
	<a class="menu__link" target=_blank href=http://www.facebook.com/groups/377764815646255>{{#l10n}}menu, FACEBOOK{{/l10n}}</a>
	{{#is-logged-in}}
	<div class="menu__user">
		<a class="menu__link {{#is-profile}}menu__link--current{{/is-profile}}" href=/user>{{#l10n}}menu, PROFILE{{/l10n}}</a>
		{{#is-admin}}
		<a class="menu__link {{#is-users}}menu__link--current{{/is-users}}" href=/users>{{#l10n}}menu, USERS{{/l10n}}</a>
		<a class="menu__link" href=/static-pages>{{#l10n}}menu, ADMIN EDIT STATIC PAGES{{/l10n}}</a>
		<a class="menu__link" href=/admin/games>{{#l10n}}menu, ADMIN EDIT GAMES{{/l10n}}</a>
		{{/is-admin}}
		<a class="menu__link" href=/logout>{{#l10n}}menu, LOGOUT{{/l10n}}</a>
	</div>
	{{/is-logged-in}}
</nav>

{{#message}}
<div class="msg msg--status-{{status}}">{{message}}</div>
{{/message}}

{{{body}}}

<script>
var VP = { user: {{{user-json}}} }
</script>
{{#minify}}
/js/element.js
/js/ender.js
/js/user.js
/js/seats.js
/js/events.js
/js/static-pages.js
/js/games.js
/js/texts.js
/js/index.js
{{/minify}}
</body>
<![endif]-->
