<form class="form form--users" method=post action="/users{{#other-user}}/{{username}}{{/other-user}}">
	<div class="form__errs"></div>
	<div>
		<label class="form__lbl form--user__lbl form__lbl--mandatory" for=in-username>{{#l10n}}users, LBL FORM USERNAME{{/l10n}}</label>
		<input name=username id=in-username value="{{username}}" type=text>
	</div>
	<div>
		<label class="form__lbl {{^is-logged-in}}form__lbl--mandatory{{/is-logged-in}} form--user__lbl" for=in-password>{{#l10n}}users, LBL FORM PASSWORD{{/l10n}}</label>
		<input name=password id=in-password type=password>
		{{#is-logged-in}}
		<span class="note">{{#l10n}}users, FORM PASSWORD PLACEHOLDER{{/l10n}}</span>
		{{/is-logged-in}}
	</div>

	<div>
		<label for=in-name class="form__lbl form--user__lbl form__lbl--mandatory">{{#l10n}}users, LBL FORM NAME{{/l10n}}</label>
		<input name=name id=in-name value="{{name}}" type=text>
	</div>
	<div>
		<label for=in-email class="form__lbl form--user__lbl form__lbl--mandatory">{{#l10n}}users, LBL FORM EMAIL{{/l10n}}</label>
		<input name=email id=in-email value="{{email}}" type=email>
	</div>

	<div>
		<label for=in-age class="form__lbl form--user__lbl form__lbl--mandatory">{{#l10n}}users, LBL FORM AGE{{/l10n}}</label>
		<input placeholder="YYYY-MM-DD" name=age id=in-age value="{{age}}" type=date>
		<span class="note">{{#l10n}}users, NOTE FORM AGE{{/l10n}}</span>
	</div>

	<div>
		<label for=in-text class="form__lbl form__lbl--ta form--user__lbl">{{#l10n}}users, LBL FORM TEXT{{/l10n}}
		<br><span class="note">{{#l10n}}users, NOTE FORM TEXT{{/l10n}}</span>
		</label>
		<textarea name=text id=in-text>{{text}}</textarea>
	</div>
	{{#is-admin}}
	{{#other-user}}
	<div>
		<label for=in-role>{{#l10n}}users, LBL FORM ROLE{{/l10n}}</label>
		<select name=role id=in-role>
			<option value=user {{#sel-current-role}}user{{/sel-current-role}}>{{#l10n}}users, FORM ROLE OPT USER{{/l10n}}
			<option value=admin {{#sel-current-role}}admin{{/sel-current-role}}>{{#l10n}}users, FORM ROLE OPT ADMIN{{/l10n}}
		</select>
	</div>
	{{/other-user}}
	{{/is-admin}}
	<button type=submit>
	{{#is-logged-in}}{{#l10n}}users, BTN UPDATE{{/l10n}}{{/is-logged-in}}
	{{^is-logged-in}}{{#l10n}}users, BTN SIGNUP{{/l10n}}{{/is-logged-in}}
	</button>
</form>
