<form method=post action=/users{{#other-user}}/{{username}}{{/other-user}}>
	<div>
		<label class="form__lbl--required" for=in-username>{{#l10n}}users, LBL FORM USERNAME{{/l10n}}</label>
		<input name=username id=in-username value="{{username}}" type=text>
	</div>
	<div>
		<label for=in-name>{{#l10n}}users, LBL FORM NAME{{/l10n}}</label>
		<input name=name id=in-name value="{{name}}" type=text>
	</div>
	<div>
		<label for=in-password>{{#l10n}}users, LBL FORM PASSWORD{{/l10n}}</label>
		<input name=password id=in-password type=password
			placeholder="{{#l10n}}users, FORM PASSWORD PLACEHOLDER{{/l10n}}">
	</div>
	{{#is-admin}}
	{{#other-user}}
	<div>
		<label for=in-role>{{#l10n}}users, LBL FORM ROLE{{/l10n}}</label>
		<select name=role id=in-role>
			<option value=user {{#sel-current-role}}user{{/sel-current-role}}>{{#l10n}}users, FORM ROLE OPT USER{{/l10n}}
			<option value=admin {{#sel-current-role}}admin{{/sel-current-role}}>{{#l10n}}users, FORM ROLE OPT ADMIN{{/l10n}}
		</select>
	</div>
	{{/other-user}}
	{{/is-admin}}
	<button type=submit>{{#l10n}}users, BTN UPDATE{{/l10n}}</button>
</form>
